:host {
  display: block;

  [formcontrolname].ng-invalid.ng-touched {
    @apply border-red-600;
  }

  .input {
    @apply
      flex-1
      appearance-none border
      border-gray-300
      w-full
      py-2
      px-4
      bg-white
      text-gray-700
      placeholder-gray-400
      shadow-sm
      text-base
      focus:outline-none
      focus:ring-2
      focus:ring-horama-yellow
      focus:border-transparent;
  }
}
